/* @media (max-width: 1200px) */
/* @media (max-width: 991px) */
/* @media (max-width: 767px) */
/* @media (max-width: 575px) */
@media (max-width: 991px){
    .header{
        margin: 0 5px;
        &__phone{
            font-size: 17px;
        }
    }
    .promo{
        padding-right: 5px;
    }
    .button{
        &_submit{
            width: 290px;
        }
    }
    .advantages{
        &__subheader{
            padding-left: 5px;
        }
    }
    .title_left{
        padding-left: 10px;
    }
    .feed-form{
        padding-left: 10px;
    }
    .consultation{
        &__descr{
            padding-left: 10px;
        }
    }
    .title{
        &_left{
            font-size: 30px;
        }
    }
}
@media (max-width: 767px){
    .header{
        &__logo{
            img{
                width: 90%;
            }
        }
        &__official{
            font-size: 10px;
            span{
                font-size: 15px;
            }
        }
        &__phone{
            font-size: 14px;
        }
    }
    .advantages{
        &__wrapper{
            flex-direction: column;
        }
        &__item{
            flex-direction: row;
            justify-content: center;
        }
    }
    .button{
        width: 130px;
        &_main{
            width: 300px;
        }
        &_submit{
            width: 290px;
        }
    }
    .feed-form{
        width: 250px;
    }
}
@media (max-width: 575px){
    .header{
        &__official{
            display: none;
        }
        &__phone{
            font-size: 13px;
        }
    }
    .promo{
        &__header{
            font-size: 35px;
        }
        &__icons{
            width: 300px;
        }
        &__link{
            font-size: 12px;
        }
    }
    .button{
        &_main{
            width: 150px;
            font-size: 12px;
        }
    }
}







						


