@import 'base/variable';
* {
	font-family: 'Museo', sans-serif;
}
.container{
	max-width: 950px;
	margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';


				

					
				