.advantages{
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__wrapper{
        display: flex;
        justify-content:  space-between;
    }
    &__item{
        margin-top: 65px;
        display: flex;
        flex-direction: column;
    }
    &__icon{
        img{
            display: block;
            margin: 0 auto;
        }
    }
    &__header{
        margin-top: 38px;
        color: $second-color;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__subheader{
        text-align: center;
        width: 235px;
        margin-top: 26px;
        color: $second-color;
        font-size: 14px;
        font-weight: 300;
        a{
            color: #ff0000;
            text-decoration: underline;
            &:hover{
                color: $second-color;
            }
        }
    }
    
}