.button{
    width: 150px;
    padding: 0;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    &:focus {
        outline: none;
        }
    &_main{
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit{
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
}