.consultation{
    min-height: 680px;
    padding: 92px 0 100px 0;
    background: url(../img/bg_cons.png) center (center/cover) no-repeat;
    &__descr{
        margin-top: 80px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }
}